* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #F0F8FF;
  --player-color: chartreuse;
  --field-size: 4;
  --card-width: 120px;
  --color-green: #5A5;
  --color-red: #F55;
  --color-yellow: #FA0;
  --color-blue: #55F;
  --current-color: aliceblue;
  --inverted-color: white;
}

html, body { height: 100%; }

.container {
  padding: 1rem;
  min-height: 100%;
  color: white;
  font-size: 1.5rem;
  background-color: #0047bb;
}

.text-inner {
  width: 100%;
  font-family: monospace;
  color: white;
}

.hidden { display: none; }

@media (max-width: 500px) { .container { font-size: 1rem; } }
