* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #F0F8FF;
  --player-color: chartreuse;
  --field-size: 4;
  --card-width: 120px;
  --color-green: #5A5;
  --color-red: #F55;
  --color-yellow: #FA0;
  --color-blue: #55F;
  --current-color: aliceblue;
  --inverted-color: white;
}

html, body { height: 100%; }

.container {
  padding: 1rem;
  height: 100%;
  color: white;
  font-size: 1.5rem;
  background-color: #0047bb;
}

.text-inner {
  width: 100%;
}


.hidden { display: none; }

.transparent { opacity: 0; }

.absolute { position: absolute; }

.above {
  z-index: 1;
  transform: translateZ(10px);
}

.slide { transform: translate(calc(1px * var(--dx)), calc(1px * var(--dy))); }
